# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6
#### To change the cell into code mode to markdown mode we can press (esc+m)

**Bold**
*Italic*

# Python Basics

### Variable:
        - It stores a value.
        - It changes a value.

In [1]:
a = 20
a

20

In [2]:
b = 30
a
b

30

In [3]:
c,d = 34.523,"python"
d
c

34.523

In [4]:
d

'python'

In [5]:
c,d

(34.523, 'python')

In [8]:
a=b=c=0
a,b,c

(0, 0, 0)

### type() method:-
    - To know the datatype of a variable.

In [15]:
e,f,g,h = 23,10.456,"civil",'45.8'
e,f,g,h
print(e,type(e))
print(f,type(f))
print(g,type(g))
print(h,type(h))

23 <class 'int'>
10.456 <class 'float'>
civil <class 'str'>
45.8 <class 'str'>

### DataTypes:
    - int --> It accept only integer values
    - float --> It accept interger and decimal values.
    - str  --> It accept all values enclosed with single quotes or double quotes
    - all types of data structures[List,Tuple,Set,Dictionary]-> It accept all data types like int,float,str...

### input methods:
    - 1. It reads a value from user.
    - 2. By default the value of variable is always string.

In [1]:
#dynamic input reading type
n = input("Enter n value...")
print(n,type(n))

Enter n value...34
34 <class 'str'>

In [17]:
# static input reading type
m = 100 
print(m)

100

### comments:
        - single line comments -> #
        - multi line comments  -> single tripple quotes or double triple quotes (''' statement1
                   statements2 ''')
               (""" statement1
                    statement2 """)

In [2]:
a,b = input("Enter a value: "),input("Enter b value: ")
print(a,type(a),b,type(b))

Enter a value: 23
Enter b value: 45.67889012345
23 <class 'str'> 45.67889012345 <class 'str'>

### Output formating:
    - use coma(,)
    - percentage(%)
    - .(dot) format

In [12]:
a = input("Enter first value: ")
b = input("Enter second value: ")
print("Entered a value is: ",a)
print("Entered b value is: ",b)
print("Addition of ",a,"and",b,"is: ",int(a) + int(b))
print("Subtraction of %d and %d is: %d"%(int(a),int(b),int(a)-int(b)))
print("Division of {1} and {0} is: {2}".format(a,b,int(a) / int(b)))
print(type(a),type(b))

Enter first value: 1
Enter second value: 2
Entered a value is:  1
Entered b value is:  2
Addition of  1 and 2 is:  3
Subtraction of 1 and 2 is: -1
Division of 2 and 1 is: 0.5
<class 'str'> <class 'str'>

### Type casting:
    - To change a datatype from one datatype to another datatype.
    - int(),float(),str(),all data structures..

In [3]:
n = input("Enter a value: ")
print("Entered value is: ",n)

Enter a value: 34
Entered value is:  34

In [15]:
n = int(input("Enter a value: "))
print(n,type(n))

Enter a value: 20
20 <class 'int'>

In [ ]:
Input:
    Enter Student Name: Ramu
    Enter Student Age: 20
    Enter Student Year: 3
Output:
    Entered Studnet Name is: Ramu
    Student Age is: 20
    Studying 3 Year B.Tech

In [19]:
a=input("Enter Student Name:")
b=input("Enter Student Age:")
c=input("Enter Student Year:")
# print("Entered Student Name is: {} ".format(a))
# print("Student Age is: {} ".format(b))
# print("Studying in {} Year B.Tech".format(c))
print("Entered Student Name is: {}\nStudent Age is: {}\n"
"Studying in {} Year B.Tech".format(a,b,c))

Enter Student Name:Rajesh
Enter Student Age:25
Enter Student Year:2
Entered Student Name is: Rajesh
Student Age is: 25
Studying in 2 Year B.Tech

In [26]:
t = int(input("Enter an integer value: "))
n = float(input("Enter a float value: "))
s = input("Enter a number: ")
print("Entered Integer Number is: {} "
      "and its float value is: {}\nEntered "
      "Floating Number is: {} and its integer"
      " Value is: {}\nEntered Number is: {} "
      "Interger value is: {} and floating Value is: {}"
      .format(t,float(t),n,int(n),s,int(s),float(s)))

Enter an integer value: 12
Enter a float value: 2.032165456
Enter a number: 278
Entered Integer Number is: 12 and its float value is: 12.0
Entered Floating Number is: 2.032165456 and its integer Value is: 2
Entered Number is: 278 Interger value is: 278 and floating Value is: 278.0